name: Release
on:
  push:
    tags:
      - 'v*'
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NUGET_TOKEN: ${{ secrets.NUGET_TOKEN }}
jobs:
  publish_binary:
    name: Publish Provider
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v5
      with:
        go-version: 1.21.x
        cache-dependency-path: ${{ github.workspace }}/provider/go.sum
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v5
      with:
        args: release --clean
        version: latest
  publish_sdks:
    name: Publish SDKs
    runs-on: ubuntu-latest
    needs: publish_binary
    steps:

    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: "18"

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '6.0.x'

    - name: Build SDKs
      run: make build

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ env.PYPI_API_TOKEN }}
        packages-dir: ${{github.workspace}}/sdk/python/dist/
        skip-existing: true

    - name: Publish package to NPM
      uses: JS-DevTools/npm-publish@v3
      with:
        access: "public"
        token: ${{ env.NPM_TOKEN }}
        package: ${{github.workspace}}/sdk/nodejs/bin/package.json

    - name: Publish package to NuGet
      run: |
        dotnet nuget push ${{github.workspace}}/sdk/dotnet/bin/Debug/*.nupkg --skip-duplicate --api-key ${{ env.NUGET_TOKEN }} --source https://api.nuget.org/v3/index.json
